<!-- Main Title -->
<div class="jumbotron">
  <h1 class="display-3">View &amp; Manage Medications</h1>
  <p class="lead"></p>
  <hr class="my-4">
</div>

<!-- Medication Table -->
<div class= "medTable">
<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">Medication</th>
          <th scope="col">Dose</th>
          <th scope="col">When</th>
          <th scope="col">Pills Remaning</th>
          <th scope="col">Deactivate Medication</th>
        </tr>
    </thead>
        <tbody>
            {{#each scriptz}}
            <tr class="table-secondary">
              <th scope="row">{{this.prescription_name}}</th>
              <td>{{this.dose}} mg</td>
              <td>{{this.TimeFrame}}</td>
              <td>{{this.Pills_Remaining}}</td>
              <td><button data-id="{{id}}" id="deactivate">Deactivate</button></td>
            </tr>
            {{/each}}
        </tbody>
</table> 
</div>

<!-- The pill entry form  -->
<div class="addMedsContainer">
<h3 style="margin-top: 1rem;">Add Medications</h3>
  <form action="/api/scriptz" method="POST" id="addMed_form">
    <fieldset>
      <div class="form-group">
          <label for="prescription_name">Medication Name</label>
          <input type="text" class="form-control" name="prescription_name" rows="1">
      </div>

      <div class="form-group">
          <label for="dose">Dose (please enter a number value)</label>
          <input class="form-control" name="dose" type="number"
                data-bv-integer-message="The value is not a number"/>   
      </div>

      <div class="form-group">
          <label for="Pills_Remaining">Pills Remaining (please enter a number value)</label>
          <input class="form-control" name="Pills_Remaining" type="number"
                data-bv-integer-message="The value is not a number"/>   
      </div>

      <div class="form-group">
          <label for="TimeFrame" id="medTime">When (please select all times for this medication)</label>
          <br>
          <input type="checkbox" name="TimeFrame" value="morning"> Morning<br>
          <input type="checkbox" name="TimeFrame" value="lunch"> Lunch Time<br>
          <input type="checkbox" name="TimeFrame" value="dinner"> Dinner Time<br>
          <input type="checkbox" name="TimeFrame" value="bed"> Bed Time<br>
      </div>
                  
<!-- Submit Button -->
    <button type="submit" class="btn btn-primary" id="submit_addmed">Submit</button>
  </fieldset>
</form>
</div>

<!-- Deactivated Meds -->
<div class="container-fluid">
  <div class="card border-secondary mb-3">
    <div class="card-header"><h4>Deactivated Medication/Medication History</h4></div>
      <div class="card-body">
        <p class="card-text"></p>
      </div>  
  </div>
</div>    