<div class="jumbotron">
  <h1 class="display-3">Medication Schedule</h1>
  <p class="lead"></p>
  <hr class="my-4">
</div>

<!-- Top Row -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card border-secondary mb-3">
      <div class="card-header"><h4>Morning</h4></div>
      <div class="card-body">
        <p class="card-text">Med: {{#each scriptz}}{{#if active}}<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" value="{{this.prescription_name}}" id="medButton">{{this.prescription_name}}</button>{{/if}}{{/each}} </p>
      </div>  
    </div>

    </div>
    <div class="col-md-6">
      <div class="card border-secondary mb-3">
      <div class="card-header"><h4>Lunch Time</h4></div>
      <div class="card-body">
        <p class="card-text">Med: {{#each scriptzLunch}}{{#if active}}<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" value="{{this.prescription_name}}" id="medButton">{{this.prescription_name}}</button>{{/if}}{{/each}}</p>
      </div>  
    </div>      

    </div>
  </div>
</div>
<!-- Bottom Row -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card border-secondary mb-3">
      <div class="card-header"><h4>Dinner Time</h4></div>
      <div class="card-body">
        <p class="card-text">Med: {{#each scriptzDinner}}{{#if active}}<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" value="{{this.prescription_name}}" id="medButton">{{this.prescription_name}}</button>{{/if}}{{/each}}</p>
      </div>  
    </div>

    </div>
    <div class="col-md-6">
      <div class="card border-secondary mb-3">
      <div class="card-header"><h4>Before Bed</h4></div>
      <div class="card-body">
        <p class="card-text">Med: {{#each scriptzBed}}{{#if active}}<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" value="{{this.prescription_name}}" id="medButton">{{this.prescription_name}}</button>{{/if}}{{/each}}</p>
      </div>  
    </div>      
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>